@charset  "UTF-8";

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.titulo-principal {
    font-size: 50px;
    display: inline-block;
    position: relative;
    top: -108px;
    right: 50%;
    left: 20%;

}

nav {
    position:absolute;
    top:110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a  {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}



#banner {
    margin: 10px;
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

h3 {
    font-size: 27px;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;

}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(imagens2/bg.jpg);
    padding: 40px 0 ;
}

.copyright {
    color: white;
}